@{
    ViewBag.Title = "AdminDashboard";
}
<link href="~/Content/CSS/AdminnDashboard.css" rel="stylesheet" />

<link href="~/Content/CSS/buttons.css" rel="stylesheet" />



<div class="container">
    <div class="row">
        <div class="col-md-6 AssignedTasks">
            <h2>
                Hello @Session["Name"]
            </h2>
        </div>
        <div class="col-md-6 logout">
            <h2>
                <button>@Html.ActionLink("Logout", "Logout", "Login")</button> 
            </h2>
        </div>
    </div>

</div>


<div class="row" style="display:flex">
    <div class="user  text-center">
        <img src="~/Imgs/users-group.png" />
        <br />

        @Html.ActionLink("User", "AllUser", "Admin")

    </div>
    <div class="assigned text-center my-5">
        <img src="~/Imgs/assigned_task.png" />
        <br />
        @Html.ActionLink("Today Assigned", "Index", "Tasks")
    </div>
</div>