<link href="~/Content/CSS/AdminnDashboard.css" rel="stylesheet" />
<link href="~/Content/CSS/buttons.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-md-6 AssignedTasks">
            <h2>
                Hello @Session["Name"]
            </h2>
        </div>
        <div class="col-md-6 logout">
            <h2>
                <button>
                    @Html.ActionLink("Logout", "Logout", "Login")
                </button>
            </h2>
        </div>
    </div>

</div>


<div class="row UserDashboard" style="display:flex">
    <div class="user  text-center">
        <img src="~/Imgs/users-group.png" />
        <br />
        <br />
        <br />

        @Html.ActionLink("Today Assigned", "TodayAssigned", "Emp")

    </div>
    <br />
    <div class="assigned text-center my-5">
        <img src="~/Imgs/assigned_task.png" />
        <br />
        <br />
        <br />

        @Html.ActionLink("Assigned", "Assigned", "Emp")
    </div>
</div>