@model Manager.Models.User

<h3 >Enter your code which is sent to your email address </h3>

@using (Html.BeginForm())
{<div class="container">
        <div class="container__item">
            <form class="form">
                <input type="text" name="code" class="form__field" placeholder="Enter Your Code" />
                <br />


                <br />


                <button type="submit" value="Post" class="btn btn--primary btn--inside uppercase">Post</button>
            </form>
        </div>
    </div>


}






<style>
 form{

       border:5px solid grey;
       justify-content:center;
   }

 input{
     margin:30px 0px 10px 45rem;
     color:black;
     
     
 }
 h3{
     margin-left:25rem;
 }

    button {
        color: grey;
        margin: 30px 0px 50px 50rem;
    }
</style>
